.nav-link:hover{
    background-color: rgb(2, 250, 35);
    color: white;
}

.nav-link{
    color: white;
}

.active {
    background-color: rgb(2, 250, 35) !important;
}

.footer{
    text-align: center;
}

.eso{
    margin-top: 4px;
}

.dropdown-item:hover{
 background-color: chartreuse;
 
}

.dropdown-item{
    color: white;
}

.dropdown:hover{
    background-color: rgb(2, 250, 35);
    color: white;
}
.esa-otra{
    color: chartreuse;
    

}